PORT=3000
DRAMABOX_BASE_URL=https://sapi.dramabox.be
DRAMABOX_LANG=in

# Directlink Adsterra
ADSTERRA_DIRECTLINK=https://your-adsterra-direct-link-here.com/XXXX
# Frekuensi episode → nanti kita pakai fix 5 episode, tapi kalau mau override bisa
ADSTERRA_FREQ=5
